<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
    <title>Brewing Agile: Registration Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="img/favicon.ico" type="image/png" rel="icon" />
	<link href="img/favicon.ico" type="image/png" rel="shortcut icon" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/loader.css" rel="stylesheet" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js"></script>
	<script src="https://code.angularjs.org/1.2.6/i18n/angular-locale_sv.js"></script>
	<script src="https://code.angularjs.org/1.2.6/i18n/angular-locale_sv-se.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="form/app.js?version=4"></script>
    <script src="form/registration.js?version=8"></script>
<style>
input.ng-invalid {
  border-color: red;
}
input.textarea {
	border-color: red;
}
.soldout {
	text-decoration: line-through;
}
</style>
</head>

<body ng-controller="RegistrationController">
<div class="container">
    <div class="page-header">
        <h1>Registration Form <small>Brewing Agile 2018</small></h1>
    </div>
    <form class="form-horizontal" role="form" name="myForm" ng-submit="submit()">
        <div class="row">
            <legend>
                <h2>Participant</h2>
            </legend>
            <div class="form-group">
                <label for="inputParticipantName" class="col-sm-2 control-label">Full Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputParticipantName" ng-model="r.participantName" placeholder="Participant's Firstname Surname" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Participant Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" ng-model="r.participantEmail" placeholder="Participant's Email Address" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Diet or allergies?</label>
                <div class="col-sm-1">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="diet"> Yes
                        </label>
                    </div>
                </div>
                <div class="col-sm-9" ng-show="diet">
                    <input type="text" class="form-control" id="inputDiet" ng-model="r.dietaryRequirements" placeholder="Please be as specific as possible about what you can and can't eat. Thank you!">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTwitter" class="col-sm-2 control-label">Twitter Handle</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputTwitter" ng-model="r.twitter" ng-pattern="/^@[a-zA-Z0-9_]{1,15}$/" placeholder="@twitter">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLanyardCompany" class="col-sm-2 control-label">Organisation</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLanyardCompany" ng-model="r.lanyardCompany" placeholder="Shown on your Lanyard">
                </div>
            </div>
        </div>

        <div class="row">
            <legend>
                <h2>Tickets</h2>
            </legend>
            <div class="col-sm-12 form-group">
                <div class="checkbox" ng-repeat="t in tickets">
                    <label>
                        <input type="checkbox" ng-model="r.tickets[$index]" ng-true-value="{{t.ticket}}" ng-false-value="" ng-disabled="!t.available"> <span ng-class="{soldout: !t.available}"> {{t.description}} <em>{{t.price / 100}} SEK</em>. <span style="font-weight: bold;" ng-show="!t.available">SOLD OUT!</span></span>
                    </label>
                </div>
            </div>
            <em class="col-sm-12">
                Prices are in Swedish SEK and includes Swedish VAT ("MOMS").
            </em>
        </div>



        <div class="row" ng-show="paymentMethod == 'CREDIT_CARD'">
            <legend>
                <h2>Payment</h2>
            </legend>
            <div class="col-sm-12">
                <strong>Credit Card</strong>
                <p>
                    When you press "Register!" you will be presented with a dialogue from Stripe to complete payment.<br>
                    All major credit cards are accepted.
                </p>
                <p>
                    If you want to buy many tickets but only receive one invoice, let us know and we will set that up!
                </p>
            </div>
        </div>
		<div class="row" ng-show="paymentMethod == 'INVOICE'">
            <legend>
                <h2>Invoicing</h2>
            </legend>
			<div class="col-sm-12">
				<p>
                    Invoice will be sent from Rebel Alliance AB as a PDF to the Participant's Email address.<br>
                </p>
                <p>
                    <strong>Invoice Payment Terms:</strong><br>
                    Due 14 days after issue but no later than the start of the event.<br>
                    If you require custom payment terms or handling, it may incur additional costs.
                </p>
                <p style="padding-bottom: 2em;">
                    If you want to buy multiple tickets but only receive one invoice, let us know and we will set that up!
                </p>


                <div class="form-group">
                    <label for="inputInvoiceRecipient" class="col-sm-2 control-label">Invoice Recipient</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputInvoiceRecipient" ng-model="r.invoiceRecipient" placeholder="Person or Company Name" ng-required="paymentMethod == 'INVOICE'">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputInvoiceAddress" class="col-sm-2 control-label">Invoice Address</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputInvoiceAddress" ng-model="r.invoiceAddress" placeholder="Street Address, City and Reference/PO number"></textarea>
                    </div>
                </div>
			</div>

		</div>
		<div class="row" ng-show="paymentMethod == 'ACCOUNT'">
            <legend>
                <h2>Pre-arranged Payment</h2>
            </legend>
            <div class="col-sm-12">
				<strong>Account: {{account.account}}</strong>
				<p>
					Your Account holder has arranged payment details directly with Brewing Agile and Rebel Alliance AB.<br>
					You don't need to do anything but come and enjoy the event!
				</p>
            </div>
        </div>

        <div class="row">
            <legend>
                <h2>Terms</h2>
            </legend>
            <div class="col-sm-12">
                <ul>
                    <li>
                        GDPR: If nothing else is mentioned below, all personal details are removed within 1 month after the event.</br>
                        <ul>
                            <li>Your email address is saved in MailChimp (to facilitate the Brewing Agile newlsetter). You can at any time unregister from it.</li>
                            <li>Participant Name, Tickets and 'Diet or allergies' is sent to Auktionsverket Kulturarena.</li>
                            <li>Credit Card details are never handled by us, but Stripe directly.</li>
                            <li>Personal Details may be part of Invoices and Receipts. Such will be stored according to requirements by Swedish Law.</li>
                            <li>During the event we will take photographs and record video, which may be published online.</li>
                        </ul>
                    </li>
                    <li>Because we are a small, non-profit, organization we must enforce a strict no-cancellation policy.</li>
                    <li>Program subject to change at any time.</li>
                    <li>You agree to these terms by registering to the event.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    After submitting the registration, you should receive a confirmation email within 24 hours.<br> If you do not receive it, please contact brewingagile@scrumbeers.com.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 alert alert-success" role="alert" ng-show="success">
                <strong>Thank you!</strong>
                <p>We will send an invoice to you ASAP. If you do not receive it, please contact <a class="alert-link" href="mailto:brewingagile@scrumbeers.com">brewingagile@scrumbeers.com</a></p>
                <p><a class="alert-link" href="" ng-click="reset()">Make another reservation?</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 alert alert-danger" role="alert" ng-show="error">
                <Strong>Sorry!</Strong>
                <p>Something went wrong, can you please try again?</p>
                <p>If it still does not work, write in caps to <a class="alert-link" href="mailto:brewingagile@scrumbeers.com">brewingagile@scrumbeers.com</a> </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" ng-click="register()" class="btn btn-lg btn-default" ng-show="!loading" ng-disabled="!myForm.$valid || lastRegisteredName == r.participantName || !anyTicket(r.tickets)">Register!</button>
                <button type="button" class="btn btn-lg btn-default" ng-show="loading" ng-disabled="true"><span class="glyphicon glyphicon-refresh spinning"></span> Registering... </button>
            </div>
        </div>
    </form>
</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nvnqq');
twq('track','PageView');
</script>
</body>
</html>
