<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
    <title>Brewing Agile: Registration Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="img/favicon.ico" type="image/png" rel="icon" />
	<link href="img/favicon.ico" type="image/png" rel="shortcut icon" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/loader.css" rel="stylesheet" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="stripe/app.js?version=4"></script>
    <script src="stripe/stripe.js?version=7"></script>
<style>
input.ng-invalid {
  border-color: red;
}
input.textarea {
	border-color: red;
}
.soldout {
	text-decoration: line-through;
}
</style>
</head>

<body ng-controller="StripeController">
<div class="container-fluid">
	<div class="col-sm-12">
		<h1>Credit Card Payment <small>Brewing Agile 2017</small></h1>

		<h2>Tickets and Packages</h2>
		<p>
            <em>All prices are in SEK and include VAT.</em>
		</p>
		<br>
		<table class="table table-striped">
			<tr>
				<th>Participant</th>
				<th>Ticket</th>
				<th>Price</th>
			</tr>
			<tr ng-repeat="t in data.tickets">
				<td>{{t.participantName}}</td>
				<td>{{t.productText}}</td>
				<td>{{t.price}}</td>
			</tr>
			<tfoot>
			<tr>
				<th>Total</th>
				<th></th>
				<th>{{data.total}}</th>
			</tr>
			<tr>
				<td></td>
				<td>- Amount Paid</td>
				<td>{{data.amountPaid}}</td>
			</tr>
			<tr>
				<th>Amount Due</th>
				<th></th>
				<th>{{data.amountDue}}</th>
			</tr>
			</tfoot>
		</table>

		<button id="customButton" class="btn btn-primary" ng-click="checkout()" ng-disabled="!(data.amountDue > 0)">Pay Remainder: {{data.amountDue}} SEK</button>
	</div>
</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>
