<div class="col-lg-5">
	<legend>
		<h3>
			Billing Address <small><button class="btn btn-link" ng-click="editBillingInfo = true;" ng-hide="editBillingInfo">Edit</button></small>
		</h3>
	</legend>

	<address ng-hide="editBillingInfo">
		<strong>{{account.billingRecipient}}</strong><br>
		<p style="white-space: pre;">{{account.billingAddress}}</p><br>
		<!--<abbr title="Phone">P:</abbr> (123) 456-7890-->
	</address>
	<form ng-submit="saveBillingInfo()" role="form" ng-show="editBillingInfo">
		<input type="text" class="form-control" ng-model="account.billingRecipient"/><br>
		<textarea class="form-control" ng-model="account.billingAddress"></textarea>
		<button type="submit" class="btn btn-primary">Spara</button>
	</form>
</div>
<div class="col-lg-5">
	<legend>
		<h3>Distributable Links</h3>
	</legend>
	<a ng-href="{{account.accountSignupSecret}}">Signup into this Account</a><br>
	<em>But don't hand it out to people who shouldn't sign up using it!</em>
</div>
<div class="col-lg-10">
	<legend>
		<h3>Order</h3>
	</legend>
	<table class="table">
		<thead>
		<tr>
			<th class="col-lg-5"></th>
			<th class="col-lg-2">Price</th>
			<th class="col-lg-1">Qty</th>
			<th class="col-lg-2">Total in SEK</th>
		</tr>
		</thead>
		<tr ng-repeat="l in account.lines">
			<td>{{l.description}}</td>
			<td>{{l.price}}</td>
			<td>{{l.qty}}</td>
			<td>{{l.total | number}}</td>
		</tr>
		<tfoot>
		<tr>
			<th colspan="3">Total</th>
			<th>{{account.total | number}}</th>
		</tr>
		</tfoot>
	</table>
</div>
<div class="col-lg-10">
	<legend>
		<h3>Invoices</h3>
	</legend>
	<table class="table">
		<thead>
		<tr>
			<th class="col-lg-3">#</th>
			<th class="col-lg-2">Issued</th>
			<th class="col-lg-2">Due</th>
			<th class="col-lg-2">Amount</th>
			<th class="col-lg-1"></th>
		</tr>
		</thead>
		<tr ng-repeat="i in outvoice.invoices">
			<td>{{i.number}}</td>
			<td>{{i.issueDate | date: 'yyyy-MM-dd'}}</td>
			<td>{{i.dueDate | date: 'yyyy-MM-dd'}}</td>
			<td>{{i.amountExVat | number}}</td>
			<td>{{i.paid}}</td>
		</tr>
		<tr>
			<th colspan="3">Amount Invoiced</th>
			<th colspan="1">{{outvoice.invoicedExVat | number}}</th>
			<th></th>
		</tr>
		<tr>
			<th colspan="3">Amount due (not paid)</th>
			<th colspan="1">{{outvoice.dueExVat  | number}}</th>
			<th></th>
		</tr>
	</table>
	<p>
	<em>Prices exclude VAT.</em>
	</p>

</div>
<div class="col-lg-10">
	<legend><h3>Invoice</h3></legend>
	<button class="btn btn-primary" confirmed-click="invoice()" confirm-click="Are you sure?">Send Invoice</button>
	<div class="alert alert-{{invoiceAlert.style}}" ng-show="invoiceAlert" style="margin-top: 1em;">
		<button type="button" class="close" data-dismiss="invoiceAlert">&times;</button>
		{{invoiceAlert.message}}
	</div>
</div>
