<div class="col-lg-10">
	<div class="row">
		<div class="col-lg-10">
			<legend>Budget</legend>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<h1>Costs</h1>
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
					<th></th>
					<th>qty</th>
					<th>cost/unit</th>
					<th>total</th>
					</tr>
				</thead>
				<tr ng-repeat="c in report.costs">
					<td>{{c.description}}</td>
					<td>{{c.qty}}</td>
					<td>{{c.amount | number: 2}}</td>
					<td>{{c.total | number: 2}}</td>
				</tr>
				<tr style="font-weight: bold;">
					<td colspan="3">Total</td>
					<td>{{report.bottomLine.costs | number: 2}}</td>
				</tr>
			</table>
		</div>
		<div class="col-lg-5">
			<h1>Revenue</h1>
			<table class="table table-condensed table-striped">
				<thead>
				<tr>
					<th></th>
					<th>qty</th>
					<th>cost/unit</th>
					<th>total</th>
				</tr>
				</thead>
				<tr ng-repeat="r in report.revenues">
					<td>{{r.description}}</td>
					<td>{{r.qty}}</td>
					<td>{{r.amount | number: 2}}</td>
					<td>{{r.total | number: 2}}</td>
				</tr>
				<tr style="font-weight: bold;">
					<td colspan="3">Total</td>
					<td>{{report.bottomLine.revenue | number: 2}}</td>
				</tr>
			</table>
		</div>
		<div class="col-lg-5">
			<table class="table table-condensed table-striped">
				<tr style="font-weight: bold;">
					<td colspan="3">Profit</td>
					<td>{{report.bottomLine.profit | number: 2}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
