<div class="col-md-10">
	<div class="row">
		<div class="col-md-10">
			<legend>Budget</legend>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<h1>Costs</h1>
			<form role="form" name="myForm" ng-submit="save(costs)">
				<div class="row">
					<div class="col-md-6">Cost</div>
					<div class="col-md-3">Amount</div>
					<div class="col-md-1"></div>
				</div>
				<div class="row" ng-repeat="c in costs">
					<div class="col-md-6"><input type="text" class="form-control" ng-model="c.cost" required/></div>
					<div class="col-md-3"><input type="number" class="form-control" ng-model="c.amount" required/></div>
					<div class="col-md-1"><button type="button" class="btn btn-danger" title="ta bort" ng-click="remove(c)">&#x2715;</button></div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<hr style="border-top: 1px solid #ddd;">
						<div class="pull-left">
							<button type="button" class="btn btn-link" ng-click="add()">Lägg till rad</button>
						</div>
						<div class="pull-right">
							<button type="submit" class="btn btn-primary" ng-disabled="!myForm.$valid">Spara</button>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 1em;">
					<div class="col-md-10">
						<div class="alert alert-success" role="alert" ng-show="success">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<strong>{{success}}</strong>
						</div>
						<div class="alert alert-danger" role="alert" ng-show="error">
							<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<strong>{{error}}</strong>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
