<div class="col-lg-10">
	<div>
		<table class="table">
			<thead>
			<tr>
				<th></th>
				<th>Participant</th>
				<th>Company</th>
				<th>Ticket</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="r in registrations">
				<td><input type="checkbox" ng-model="r.checked" ng-checked="r.checked"/></td>
				<td><a ng-href="#/registrations/{{r.id}}">{{r.tuple.participantName}}</a></td>
				<td>{{r.tuple.billingCompany}}</td>
				<td>{{r.tickets}}</td>
			</tr>
			</tbody>
		</table>
		<p class="muted" ng-show="registrations.length == 0">No registrations in state 'INVOICING'.</p>
		<div ng-hide="registrations.length == 0">
			<button class="btn btn-primary" confirmed-click="markAsPaid()" confirm-click="Marking Registrations as Paid will move theme to 'Complete'. Are you sure?" ng-disabled="checkedRegistrations().length == 0">Mark as Paid</button>
		</div>
		<!--<button class="btn btn-primary" ng-click="autoMarkAsPaid()">Auto: Mark as Paid</button>-->
		<div class="alert alert-{{alert.style}}" ng-show="alert" style="margin-top: 1em;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{alert.message}}
		</div>

	</div>
</div>
