<div class="col-lg-10">
	<table class="table" ng-repeat="a in accounts">
		<thead>
		<tr>
			<th class="col-lg-6">{{a.account}}: {{a.totalExVat | number}} SEK</th>
			<th class="col-lg-2">Signups</th>
			<th class="col-lg-2">Missing</th>
		</tr>
		</thead>
		<tr ng-repeat="t in a.tickets">
			<td>{{t.ticket}}</td>
			<td ng-class="{'bg-success': (t.missing == 0), 'bg-danger': (t.missing > 0)}">
				<span title="Total # participants">{{t.signups}}</span>
			</td>
			<td ng-class="{'bg-success': (t.missing == 0), 'bg-danger': (t.missing > 0)}">
				<span title="# participants not yet signed up.">{{t.missing}}</span>
			</td>
		</tr>
	</table>
</div>
