<div class="col-lg-10">
	<div>
		<table class="table">
			<thead>
			<tr>
				<th></th>
				<th>Participant</th>
				<th>Company</th>
				<th>Ticket</th>
				<th>Diet</th>
				<th>Badge</th>
				<th>Bundle</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="r in registrations">
				<td><input type="checkbox" ng-model="r.checked" ng-checked="r.checked"/></td>
				<td><a ng-href="#/registrations/{{r.id}}">{{r.tuple.participantName}}</a></td>
				<td>{{r.tuple.billingCompany}}</td>
				<td>{{r.tickets}}</td>
				<td>{{r.tuple.dietaryRequirements}}</td>
				<td>{{r.tuple.badge}}</td>
				<td>{{r.tuple.bundle}}</td>
			</tr>
			</tbody>
		</table>
		<p class="muted" ng-show="registrations.length == 0">No paid registrations yet.</p>
	</div>
</div>
