<style>
	.form-group {
		margin-bottom: 5px;
	}
</style>
<div class="col-lg-10">
<!-- 	<ul class="breadcrumb">
		<li><a href="#/received/">Registrations</a> <span class="divider"></span></li>
		<li class="active">{{registration.participantName}}</li>
	</ul>
	-->
	<form class="form-horizontal" role="form">
		<legend>{{registration.tuple.participantName}}</legend>
		<div class="form-group">
			<label class="col-lg-4 control-label">Name</label>
			<div class="col-lg-6">
				<p class="form-control-static">{{registration.tuple.participantName}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Email</label>
			<div class="col-lg-6">
				<p class="form-control-static">{{registration.tuple.participantEmail}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Twitter</label>
			<div class="col-lg-6">
				<p class="form-control-static">{{registration.tuple.twitter}}</p>
			</div>
		</div>
		<div class="form-group">
			<label for="billingCompanyInput" class="col-lg-4 control-label">Billing Company</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" id="billingCompanyInput" ng-model="registration.tuple.billingCompany"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Billing Address</label>
			<div class="col-lg-6">
				<p class="form-control-static">{{registration.tuple.billingAddress}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Invoicing Method</label>
			<div class="col-lg-6">
				<p class="form-control-static">{{registration.tuple.billingMethod}}</p>
			</div>
		</div>
    <div class="form-group">
			<label class="col-lg-4 control-label">Ticket</label>
			<div class="col-lg-6">
				<p class="form-control-static">{{registration.tickets}}</p>
			</div>
		</div>
		<div class="form-group">
			<label for="dietInput" class="col-lg-4 control-label">Diet?</label>
			<div class="col-lg-6">
				<input type="text" class="form-control" id="dietInput" ng-model="registration.tuple.dietaryRequirements"/>
			</div>
		</div>
		<div class="form-group">
			<label for="inputBadge" class="col-lg-4 control-label">Badge</label>
			<div class="col-lg-6">
				<select id="inputBadge" class="form-control" ng-model="registration.tuple.badge">
					<option value="SPEAKER">Speaker</option>
					<option value="ORGANISER">Organiser</option>
					<option value="VIDEO">Video</option>
					<option value="AUDIO">Audio</option>
                    <option value="PHOTO">Photographer</option>
					<option value="VOLUNTEER">Volunteer</option>
					<option value="HOSTESS">Hostess</option>
					<option value="HOST">Host</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputAccount" class="col-lg-4 control-label">Account</label>
			<div class="col-lg-6">
				<select id="inputAccount" class="form-control" ng-model="registration.tuple.bundle" ng-options="a for a in accounts" nulltoemptystring>
					<option value="">(none) - Individual Participant</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 text-right">
				<button class="btn btn-warning" ng-click="unmarkNametagPrinted()" ng-disabled="!registration.printedNametag">Avmarkera: Namnbricka utskriven</button>
				<button class="btn btn-warning" ng-click="markNametagPrinted()" ng-disabled="registration.printedNametag">Markera: Namnbricka utskriven</button>
				<button class="btn btn-primary" ng-click="save()">Save</button>
			</div>
		</div>
	</form>

	<div class="alert alert-{{alert.style}}" ng-show="alert" style="margin-top: 1em;">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{alert.message}}
	</div>
</div>
